---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Minutes To Metal | Shop">
	<div class="container mx-auto">
		<h1 class="text-4xl font-bold text-center mt-10">Welcome to Minutes To Metal</h1>
		<p class="text-center mt-4">Your one-stop shop for all things metal.</p>
	</div>
</Layout>
