---
import HeaderButton from './HeaderButton.astro';
---
<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h1>
      <a href="/" class="text-4xl font-bold">
        Minutes To Metal
      </a>
    </h1>
  </div>

  <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
      <HeaderButton href="/music">
        Music
      </HeaderButton>
      <HeaderButton href="/appareal">
        Appareal
      </HeaderButton>
      <HeaderButton href="/artists">
        Artists
      </HeaderButton>
      <HeaderButton href="/about">
        About
    </HeaderButton>      
  </nav>
</header>